{% extends 'portfolio/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block contents %}

<div class="contact">
    <img src="{% static 'images/contact.jpg' %}" alt="">
    <table class="table">
        <tr>
            <td>
                <h3>First Name:</h3>
            </td>
            <td>
                <h4>Munira</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Last Name:</h3>
            </td>
            <td>
                <h4>Najmidinova</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Phone:</h3>
            </td>
            <td>
                <h4>(90) 997-28-12</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>E-mail:</h3>
            </td>
            <td>
                <h4>munira_86@bk.ru</h4>
            </td>
        </tr>
    </table>
</div>
<footer>
    <div class="footer">
      <div class="col-lg-6">
        <h6>Copyright &#169 by Munira.N</h6>
      </div>
      <div class="col-lg-6 set">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook-f"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-globe"></i>
      </div>
    </div>
  </footer>
{% endblock %}