{% extends 'portfolio/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block contents %}
<div class="content ">
  <div class="col-lg-8 justify-content-center one">
    <img src="{% static 'images/01.jpg' %}" alt="">
    <h2>Full Stack Developer</h2>
  </div>
</div>
<div class="content two">
  <h2>
    Portfolio
  </h2>
</div>
<div class="portfolio"> 
  {% for project in projects %} 
  <div class="col-lg-4">
    <img src="{{project.image.url}}" alt="">
    <h3>{{project.title}}</h3>
    <p>{{project.description}}</p>
    
  </div>
  {% endfor %}
</div>
<footer>
  <div class="footer">
    <div class="col-lg-6">
      <h6>Copyright &#169 by Munira.N</h6>
    </div>
    <div class="col-lg-6 set">
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook-f"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-globe"></i>
    </div>
  </div>
</footer>
{% endblock %}