*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    padding-top: 10px;
}
header img{
    margin-left: 10px;
    margin-top: 10px;
}

.one{
  height: 500px;
  width: 66.66%;
  margin-left: 15%;
  margin-top: 10%;
  margin-right: 30%;
  text-align: center;
  color: cadetblue;
  
}
.one img{
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}
.two{
  border-bottom: 3px solid gray;
}
.two h2{
 color: rgb(7, 7, 63);
 font-size: 40px;
 margin-left: 30px;
}
.portfolio{
  display:flex;
  height: 500px;
  padding: 10px;
  }
.portfolio img{
  width: 350px;
  height: 200px;
  
}
.footer{
  display: flex;
  background-color: slategrey;
  height: 50px;
}

.set i{
  float: right;
  padding: 10px;
}
.blog{
  width:80%;
  margin-left: 15%;
}
.blog .col-lg-10{
  border: 1px solid rgb(2, 6, 63);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin-bottom: 50px;
  background-color: rgb(166, 193, 197);
}
.blog h1{
  text-align: center;
  color: rebeccapurple;
}
.blog h3{
  margin-left: 30px;
  color: navy;
}
.blog p, .blog h5{
  margin-left: 30px;

}
.table{
  margin-bottom: 20%;
  background-color: rgb(139, 139, 139);
}
.contact img{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  width: 80%;
  height: 50%;
}