{% extends 'portfolio/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block contents %}
<div class="blog"> 
    <h1>My Blogs</h1>
    {% for blog in blogs %} 
        <div class="col-lg-10">
            <h3>{{blog.title}}</h3>
            <p>{{blog.description}}</p>

            <h5>{{blog.date | date:'d M Y'}}</h5>
        </div>
    {% endfor %}
</div>
<footer>
    <div class="footer">
      <div class="col-lg-6">
        <h6>Copyright &#169 by Munira.N</h6>
      </div>
      <div class="col-lg-6 set">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook-f"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-globe"></i>
      </div>
    </div>
  </footer>
{% endblock %}